<article>
  <section id="main">
    <h2>Club Matters</h2>
    <h2>Social Scene</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna diam, fringilla ac fringilla nec, malesuada vitae nunc. Suspendisse potenti. Mauris aliquet mauris sem, ac facilisis ipsum tincidunt vel. Nulla lacinia odio a nibh pulvinar, quis faucibus mauris condimentum. Fusce fermentum nibh in nibh iaculis tempus. Duis at fringilla nulla.
    </p>

    <h2>Competitions</h2>
    <p>
      <li>Ut massa erat, ultrices id felis porta, aliquam mattis nisl.<br><br></li>
      <li>Cras eu fringilla risus. Pellentesque elementum, tortor sed.<br><br></li>
      <li>Consequat mollisacus diam scelerisque nunc, viverra fringilla.<br><br></li>
      <li>Mauris arcu et turpis. Praesent dictum metus nibh malesuada risus.<br><br></li>
      Interdum sit amet.Curabitur fermentum, magna ut aliquet vestibulum, tortor tellus auctor quam, in luctus ipsum velit ut elit. Nullam vulputate fermentum diam, sit amet ultricies orci tincidunt et.
    </p>
  </section>
</article>