<article>
  <section id="main">
    <h2>How to get here</h2>
    <h2>Coming from M25 West</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna diam, fringilla ac fringilla nec, malesuada vitae nunc. Suspendisse potenti. Mauris aliquet mauris sem, ac facilisis ipsum tincidunt vel. Nulla lacinia odio a nibh pulvinar, quis faucibus mauris condimentum. Fusce fermentum nibh in nibh iaculis tempus. Duis at fringilla nulla.
    </p>

    <h2>Coming from M25 East</h2>
    <p>
      Ut massa erat, ultrices id felis porta, aliquam mattis nisl. Cras eu fringilla risus. Pellentesque elementum, tortor sed consequat mollis, lacus diam scelerisque nunc, viverra fringilla mauris arcu et turpis. Praesent dictum metus nibh, id malesuada risus interdum sit amet.
    </p>

    <h2>Coming from London</h2>
    <p>
      Curabitur fermentum, magna ut aliquet vestibulum, tortor tellus auctor quam, in luctus ipsum velit ut elit. Nullam vulputate fermentum diam, sit amet ultricies orci tincidunt et. Integer cursus, ligula vitae tempor gravida, nibh metus egestas erat, nec volutpat turpis ligula ac quam. Quisque vulputate sagittis turpis sit amet condimentum.
    </p>
  </section>
</article>