<article>
  <section id="main">
    <h2>Home Page</h2>
    <h2>Club Sessions</h2>
    <p>
      There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, Thursday and Sunday afternoons and Wednesday evening. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday afternoons.
    </p>

    <p>
      Some members have very kindly agreed to try to attend some of the Golf Croquet Club sessions on a regular basis so that any member turning up has someone to play with. These are normally the Tuesday and Wednesday morning and Thursday afternoon sessions. If you arrive at a Club session and there is no one else there it is a good opportunity to set the hoops out and do some practice. This sort of practice can be very valuable in improving your skills.
    </p>

    <h2>Social Events</h2>
    <p>
      Tea and cakes afternoons with Golf Croquet and Bowls. These Saturday afternoon sessions have proved very popular with members and the Committee is very grateful to Angeles Walford and her band of cake makers for putting them on. The next one is on Saturday at 2pm.
    </p>

    <h2>Internal Competitions</h2>
    <p>
      Various internal competitions are underway for both Croquet and Bowls. The first one completed was the Golf Croquet Level Doubles which took place last Saturday. It was won by Ken Hughes and Mary Lane, with Ruth Williams and Peggy Gill as runners up. Both pairs won 3 of their 4 matches but Ken and Mary prevailed on number of hoops run (25 – 22).
    </p>
  </section>

  <section id="sidebar">
    <h3>Club Membership</h3>
    <p>
      The membership of the Club is currently 78, with 66 primarily playing Croquet and 12 primarily playing Bowls.
    </p>
  </section>
</article>