/*
* Partial: site-convention.scss
*/

$heading-font: 'Arial', 'Helvetica', sans-serif;
$accent-font: 'Georgia', 'Times New Roman', serif;
$body-font: 'Times New Roman', 'Times', serif;

$white: #FFF;
$black: #000;
$grey: #AAA;