/* navigation.css.scss
* in line styled navigation background-repeat: *
*/

@import "site-convention";

nav#main_nav {
  ul {
    text-align: center;
  }

  li {
    background-color: $grey;
    border-style: outset;
    border-width: 5px;
    display: inline-block;
    margin: 0 2px;
    padding: 6px 6px;
    font-size: 1.5em;

    a,
    a:link,
    a:visited {
      color: $black;
      text-decoration: none;
    }
  }
}